<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="com.cholo.memo.user.dao.UserDAO">
	<insert id="insertUser" parameterType="map">
		INSERT INTO
			`user`
		(
			`loginId`
			,`password`
			,`name`
			,`email`
			,`creatdeAt`
			,`updatedAt`
		)
		VALUE
		(
			#{loginId}
			, #{password}
			, #{name}
			, #{email}
			, now()
			, now()
		)
	</insert>
</mapper>